/* Halaman Hitung Mundur */
body {
  background-color: #fff;
  color: #333;
  font-family: Arial, sans-serif;
}
section {
  background-color: #fff0f5;
  color: black;
  text-align: center;
  padding: 20px;
}

h1, h2 {
  color: #ff69b4;
  text-align: center;
}

#countdown-timer {
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
}

footer {
  background-color: #ff69b4;
  color: white;
  text-align: center;
  padding: 10px;
}